# ----------------------------------------------------------------------
# NOTE: do not use tilde ~ for specifying file paths
# ----------------------------------------------------------------------

# ----------------------------------------------------------------------
# usercert points to the user certificate
# defaults to: ${user.home}/.globus/usercert.pem
usercert=/home/kba79/.globus/usercert.pem

# ----------------------------------------------------------------------
# userkey points to the user private certificate
# defaults to: ${user.home}/.globus/userkey.pem 
userkey=/home/kba79/.globus/userkey.pem

# ----------------------------------------------------------------------
# proxy points to the user proxy
# usually: /tmp/x509up_u<your uid>
proxy = /tmp/x509up_u1000

# ----------------------------------------------------------------------
# points to the ca certificate(s). can contain multiple files that are 
# comma separated
#cacert = /etc/grid-security/certificates/42864e48.0, /etc/grid-security/certificates/5aba75cb.0

# ----------------------------------------------------------------------
# change the IP adress to the one you get with ifconfig -a
#
ip=172.16.26.142
# ----------------------------------------------------------------------
# dtd location for the org.computingportals.dnd 
# dtd.location=http://www-unix.globus.org/cog/public_data/rsl.dtd
#


# ----------------------------------------------------------------------
